<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Checker{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/fontawesome/all.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}

    <div class="toast-container" id="toast-container"></div>

    <script src="{{ asset('js/lib/dayjs.min.js') }}"></script>
    <script src="{{ asset('js/lib/dayjs-ru.js') }}"></script>
    <script src="{{ asset('js/lib/dayjs-relativeTime.js') }}"></script>
    <script>
        dayjs.extend(dayjs_plugin_relativeTime);
        dayjs.locale('ru');
    </script>
    <script src="{{ asset('js/app.js') }}?v={{ random() }}"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>